<!-- {{ partial "header.html" . }} -->

<div id="page404">
	<p class="oops404">Oops!</p>
	<p class="content404">Something went wrong</p>
</div>
<style type="text/css">
	#page404 {
		font-family: 'Lucida Sans', Calibri, Candara, Arial, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', 'Microsoft YaHei', sans-serif
	}
	#page404 {
		height: auto;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.oops404 {
		font-size: 5em;
		font-weight: bold;
	}
	.content404 {
		font-size: 2em;
	}
	#site_search {
      margin: 60px 0 30px;
      text-align: left;
    }
#local-search-input {
  font-weight: bold;
  font-size: 18px;
  margin-left: 15%;
      width: 70%;
      height: 50px;
      outline: none;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: solid 1px gray;
      box-shadow: none;
      padding: 0;
    }
#local-search-result{
      padding: 0;
      line-height: 1.25;
    }
.search-keyword {
      color: orange;
    }
.search-result-title {
    font-size: 18px;
}
</style>
{{ partial "search.html" }}

<!-- {{ partial "footer.html" . }} -->
